<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Emblema+One' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="top-nav">
        <div class="primary">
            <p class="slideout-toggler">
                <i class="fa fa-bars fa-fw"></i>
            </p>
            <p class="logo">
                <a href="/"><img src="/Content/images/logo.png" /></a>
            </p>


        </div>
        <div class="middle">
            @Html.Partial("Partials/Menu")
        </div>

        <div class="secondary">
        </div>
    </nav>
    <section class="slideout-menu">
        <ul class="unstyled">
            @Html.Action("Index", "LoggedIn")
            
            
            @Html.Partial("Partials/Menu")

        </ul>
    </section>
    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="wrapper">
                <section>
                    <h6>Test</h6>
                    <ul>
                        <li></li>
                    </ul>
                </section>
                <section>
                    <h6>Test</h6>
                    <ul>
                        <li></li>
                    </ul>
                </section>
                <section>
                    <h6>Test</h6>
                    <ul>
                        <li></li>
                    </ul>
                </section>
                <section>
                    <h6>Test</h6>
                    <ul>
                        <li></li>
                    </ul>
                </section>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="create-project" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <input type="text" class="fill" placeholder="Title" data-bind="value: name" />
                </div>
                <div class="modal-body">
                    <textarea rows="5" class="fill" placeholder="Description" data-bind="value: description"></textarea>
                    <select class="fill" data-bind="options: roles, optionsText: 'role', value: role">
                    </select>
                </div>
                <div class="modal-footer">
                    <i class="fa fa-circle-o-notch fa-spin fa-fw pull-left fa-2x" style="color: #ccc;" data-bind="visible: saving"></i>
                    <button type="button" class="button button-primary" data-dismiss="modal"><span>Close</span></button>
                    <button type="button" class="button button-success" data-bind="click: save"><span>Create project</span></button>
                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/hogan-2.0.0.js"></script>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/typeahead.js"></script>
    <script src="//knockoutjs.com/downloads/knockout-3.0.0.js"></script>
    <script src="~/Scripts/pager.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/masonry.pkgd.min.js"></script>
    @Scripts.Render("~/bundles/parsley")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        var config = {
            slideoutMenu: $('.slideout-menu'),
            toggle: $('.slideout-toggler')
        };

        var project = function () {
            var priv = {};
            var pub = {};

            pub.init = function () {
                var viewModel = priv.viewModel();
                return viewModel;
            };

            priv.save = function (data) {

                var postData = {
                    project: {
                        name: data.name,
                        description: data.description
                    },
                    role: data.role().id
                };

                return $.ajax({
                    method: 'post',
                    url: '/Project/Create',
                    contentType: 'application/json',
                    data: ko.toJSON(postData)

                });
            };

            priv.viewModel = function () {
                var inner = {};

                inner.name = ko.observable('');
                inner.description = ko.observable('');
                inner.role = ko.observable('');

                inner.roles = ko.observableArray([
                    {
                        role: 'Developer',
                        id: 0
                    },
                    {
                        role: 'Designer',
                        id: 1
                    },
                    {
                        role: 'Administrative',
                        id: 2
                    }
                ]);

                inner.saving = ko.observable(false);

                inner.save = function () {
                    inner.saving(true);
                    priv.save(inner).done(function (response) {
                        if (response.Success) {
                            location.href = response.Url;
                        }
                    });
                };

                return inner;
            };


            return pub;
        }();

        $(function () {
            ko.applyBindings(new project.init(), document.getElementById("create-project"));

            config.toggle.on('click', function () {
                config.slideoutMenu.toggleClass("open");
                config.toggle.toggleClass("open");
            });
        });
    </script>

</body>
</html>
