@using System.Web.Script.Serialization
@model ProjectZ.Web.ViewModels.ProjectViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbo">
    <img src="/Content/images/dexter.jpg" class="header-image">
</div>

<div class="wrapper">
    <nav class="nav">
        <ul>
            <li class="active">
                <p>Overview</p>
            </li>
            <li><a href="releases">Releases @Html.Raw(Model.NumberOfReleases > 0 ? string.Format("<span class='badge'>{0}</span>", Model.NumberOfReleases) : "")</a></li>
            <li><a href="polls">Polls</a></li>
            <li><a href="issues">Issues @Html.Raw(Model.NumberOfIssues > 0 ? string.Format("<span class='badge'>{0}</span>", Model.NumberOfIssues) : "")</a></li>
        </ul>
    </nav>
    <div class="inner">
        <div class="content">
            <h1>@Model.Project.Name</h1>
            <p>@Html.Raw(Model.Project.Description)</p>
        </div>
        <div class="sidebar">
            <h3>Team</h3>

            <div class="menu">
                <ul class="unstyled">
                    @foreach (var member in Model.Project.Admins)
                    {
                        <li class="team-member">
                            <img src="@(member.GetImage())" class="user-image"/>
                            <div>
                                <p><a href="/user/@(member.Slug)/details" style="display: block;">@member.FirstName @member.LastName</a></p>
                                <p>@member.Role</p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            @if (Model.IsPageAdmin)
            {
                <div class="admin-wrapper">
                    <button class="btn btn-success btn-fill">Manage team</button>
                </div>
            }
            @if (Context.User.Identity.IsAuthenticated)
            {
                <div class="follow-wrapper">
                    <button class="btn btn-primary btn-fill"><i class="fa fa-heart"></i>Follow this project</button>
                    <p>0 people are following this project</p>
                </div>
            }




        </div>
    </div>
</div>

