@using System.Web.Script.Serialization
@model ProjectZ.Web.ViewModels.ProjectViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbo">
    <img src="/Content/images/dexter.jpg" class="header-image">
</div>

<div class="wrapper">
    <nav class="nav">
        <ul>
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="@Url.Action("Index", "Release")">Releases @Html.Raw(Model.NumberOfReleases > 0 ? string.Format("<span class='badge'>{0}</span>", Model.NumberOfReleases) : "")</a></li>
            <li><a href="#">Polls</a></li>
            <li><a href="@Url.Action("Index", "Issue")">Issues @Html.Raw(Model.NumberOfIssues > 0 ? string.Format("<span class='badge'>{0}</span>",Model.NumberOfIssues) : "")</a></li>
        </ul>
    </nav>
    <div class="inner">
        <div class="content">
            <h1>@Model.Project.Name</h1>

            <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>

            <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>

            <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.</p>

            <!-- please do not remove this line -->

            <div style="display: none;">
                <a href="http://slipsum.com">lorem ipsum</a>
            </div>

            <!-- end slipsum code -->

        </div>
        <div class="sidebar">
            @if(Model.IsPageAdmin)
            {

                <section class="box">
                    <input type="text" data-bind="value: userName" id="autocompleteUser" />

                    <div class="user-manual" data-bind="visible: addTeamMemberManually">
                        <input type="text" id="username" name="username" placeholder="Username" />
                        <input type="text" id="firstname" name="firstname" placeholder="First name" />
                        <input type="text" id="lastname" name="lastname" placeholder="Last name" />

                    </div>

                </section>

            <div id="autocompleteUser-footer">
                <p>Can't find who you're looking for?</p>
                <p><a href="javascript:void(0);" data-bind="click: setManualAddTeamMember">Add him/her manually</a></p>
            </div>

            <button class="btn btn-success btn-fill" data-bind=" click: addTeamMember">Add project members</button>
            }            
            <div class="follow-wrapper">
                <button class="btn btn-primary btn-fill"><i class="fa fa-heart"></i>Follow this project</button>
                <p>0 people are following this project</p>
            </div>

            <div class="menu">
                <ul class="unstyled" data-bind="foreach: teamMembers">
                    <li class="team-member">
                        <img src="" data-bind="attr: {src: image}" />
                        <div>
                            <p><a href="#" style="display: block;" data-bind="html: firstName + ' <strong>' + userName + '</strong> ' + lastName, attr: {href: '/user/details/' + slug}"></a></p>
                            <p data-bind="text: role"></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- start slipsum code -->

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>

@section scripts
{
<script src="~/Scripts/team.js"></script>
<script type="text/javascript">

    var teamMembers = @Html.Raw(new JavaScriptSerializer().Serialize(Model.Project.Admins.Select(x=>new{UserName = x.UserName, Role = x.Role.ToString(), Image = x.GetImage(40), Slug = x.Slug, FirstName = x.FirstName, LastName = x.LastName})));
    var config = {
        searchBox: $("#autocompleteUser"),
        footer: $("#autocompleteUser-footer"),
        projectId: '@Model.Project.Id'
    };

    $(function () {
        var teamModel1 = new teamModel.init(config, teamMembers);
        ko.applyBindings(teamModel1);
    });
</script>
}
