@using System.Web.Script.Serialization
@model ProjectZ.Web.Models.ViewModels.EditProjectViewModel
@{
    ViewBag.Title = "Edit";
}
<div id="edit-project-wrapper">


    <div class="row">
        <div class="col-lg-12 margin margin-bottom-15">
            <h2>
                <div class="project-logo" data-toggle="modal" data-target="#logo-upload">
                    <img src="@Model.Project.GetLogo()" alt="@Model.Project.Name" title="@Model.Project.Name" class="user-image" data-bind="attr: { 'src': logoUrl }">
                    <i class="fa fa-upload fa-1x"></i>
                </div>

                @Model.Project.Name
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9">

            <div class="edit-description" data-bind="visible: selectedPage() == 'description'">
                @Html.Partial("Partials/Project/Edit/Description", Model.Project)
            </div>

            <div class="edit-polls" data-bind="visible: selectedPage() == 'polls'" style="display: none;">
                @Html.Partial("Partials/Project/Edit/Polls", Model.Project.Polls)
            </div>

            <div class="edit-issues" data-bind="visible: selectedPage() == 'issues'" style="display: none;">
                @Html.Partial("Partials/Project/Edit/Issues", Model.Project.Issues)
            </div>

            <div class="edit-releases" data-bind="visible: selectedPage() == 'releases'" style="display: none;">
                @Html.Partial("Partials/Project/Edit/Releases", Model)
            </div>
            <div class="edit-teammamber" data-bind="visible: selectedPage() == 'team'" style="display: none;">
                @Html.Partial("Partials/Project/Edit/Team", Model.Project.Admins)
            </div>
            <div class="edit-questions" data-bind="visible: selectedPage() == 'questions'" style="display: none;">
                @Html.Partial("Partials/Project/Edit/Questions", Model.Project.Questions)
            </div>


        </div>
        <div class="col-lg-3 side-bar">
            <div class="panel panel-default">
                <div class="panel-body">

                    <ul class="projects unstyled">
                        <a href="/projects/65/test" data-bind="css: { 'active': selectedPage() == 'description' }, click: changePage" data-page="description">
                            <li>Description</li>
                        </a>
                        <a href="/projects/65/test" data-bind="css: { 'active': selectedPage() == 'team' }, click: changePage" data-page="team">
                            <li>Team members</li>
                        </a>
                        <a href="/projects/65/test" data-bind="css: { 'active': selectedPage() == 'releases' }, click: changePage" data-page="releases">
                            <li>Releases</li>
                        </a>
                        <a href="/projects/65/test" data-bind="css: { 'active': selectedPage() == 'polls' }, click: changePage" data-page="polls">
                            <li>Polls</li>
                        </a>
                        <a href="/projects/65/test" data-bind="css: { 'active': selectedPage() == 'issues' }, click: changePage" data-page="issues">
                            <li>Issues</li>
                        </a>
                        <a href="/projects/65/test" data-bind="css: { 'active': selectedPage() == 'questions' }, click: changePage" data-page="questions">
                            <li>Questions</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <script id="rowTmpl" type="text/html">
        <a>
            <img class='user-image smaller' data-bind="attr: { 'src': Image }"><strong data-bind="    text: UserName"></strong>&nbsp;<span data-bind="    text: FirstName"></span>&nbsp;<span data-bind="    text: LastName"></span></a>
    </script>


    <div class="modal fade" id="logo-upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3>Upload logo</h3>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm(new { enctype = "multipart/form-data", action = "/Upload" }))
                    {
                        @Html.AntiForgeryToken(); 
                        <input type="file" name="uploadedFile" id="fileupload" /> 
                        <input type="hidden" name="projectId" id="projectId" value="@Model.Project.Id"/>
                    }

                    <div id="progress">
                        <div class="bar" style="width: 0%;"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-danger pull-left" style="width: auto;" value="Remove logo" data-bind="click: removeLogo" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jquery.fileupload.js"></script>
    <script src="~/Scripts/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/knockout-jqAutocomplete.min.js"></script>
    <script type="text/javascript">



        var editProjectConfig = {
            fileUpload: $('#fileupload'),
            releaseImages: $('#releaseImages'),
            dropZone: $('#dropZone'),
            autocomplete: $("#txtUsername"),
            imageUrl: '@Model.Project.GetLogo()',
            projectId: '@Model.Project.Id',
            startPage: '@Model.StartPage',
            url: 'http://@(HttpContext.Current.Request.Url.Authority)/@(Model.Project.Id)/@(Model.Project.Slug)/edit',
            data: JSON.parse('@Html.Raw(new JavaScriptSerializer().Serialize(Model.Project))'.replace(/\n/g, "\\n").replace(/\r/g, "\\r").replace(/\t/g, "\\t"))
        };

        var EditModel = function () {
            var priv = {};
            var pub = {};

            pub.Init = function (config) {
                priv.config = config;
                var viewModel = new priv.viewModel();
                viewModel.initFileUpload();
                viewModel.InitHistory();
                viewModel.initDeleteMethods();
                return viewModel;
            };

            priv.base = function() {
                var inner = {};
                inner.isInEditMode = ko.observable(false);
                inner.toggleEditMode = function() {
                    inner.isInEditMode(!inner.isInEditMode());
                };


                return inner;
            };

            priv.updateLogo = function (data) {
                return $.ajax({
                    method: 'post',
                    url: '/Project/SaveLogo',
                    data: { projectId: data.projectId, logo: data.logo, icon: data.icon }
                });
            };

            priv.saveRelease = function(data) {
                return $.ajax({
                    method: 'post',
                    contentType: 'application/json',
                    url: '/Release/Create',
                    data: data
                });
            };

            priv.previewMarkdown = function(data) {
                return $.ajax({
                    method: 'post',
                    url: '/Home/PreviewMarkdown',
                    data: {text: data}
                });
            };

            priv.saveDescription = function(data) {
                return $.ajax({
                    method: 'post',
                    contentType: 'application/json',
                    url: '/Project/SaveDescription',
                    data: JSON.stringify({ projectId: priv.config.projectId, text: data })
                });
            };

            priv.overview = function(data) {
                var inner = { };
                inner.description = ko.observable(data.Description);
                inner.markdown = ko.observable();
                inner.viewMarkdown = ko.observable(false);
                inner.hideMarkdown = function() {
                    inner.viewMarkdown(false);
                };

                inner.previewMarkdown = function () {
                    if (inner.viewMarkdown()) {
                        inner.viewMarkdown(false);
                        return;
                    }

                    priv.previewMarkdown(inner.description()).done(function (response) {
                        inner.viewMarkdown(true);
                        inner.markdown(response.Code);
                    });
                };

                inner.save = function() {
                    priv.saveDescription(inner.description()).done(function(response) {
                        console.log(response);
                    });
                };

                return inner;
            };

            priv.questionModel = function(data) {
                var inner = new priv.base();
                inner.title = ko.observable();
                inner.answer = ko.observable();
                inner.questions = ko.observableArray([]);

                inner.newQuestion = function() {
                    inner.title();
                    inner.answer();
                };

                inner.save = function() {
                    inner.saveQuestion().done(function(response) {
                        if (response.Success)
                            inner.questions.push(new priv.question(response.Question));
                        inner.toggleEditMode();
                        inner.newQuestion();
                    });
                };

                inner.saveQuestion = function() {
                    return $.ajax({
                        method: 'post',
                        url: '/Question/Create',
                        contentType: 'application/json',
                        data: ko.toJSON({question: {projectId: priv.config.projectId, title: inner.title(), answer: inner.answer()}})
                    });
                };

                $.each(data.Questions, function() {
                    inner.questions.push(new priv.question(this));
                });

                return inner;
            };

            priv.question = function (data) {
                var inner = {};
                inner.title = data.Title;
                inner.answer = data.Answer;
                return inner;
            };

            priv.release = function (data) {
                var inner = {};
                inner.version = ko.observable();
                inner.title = ko.observable();
                inner.description = ko.observable();
                inner.solvedIssues = ko.observableArray([]);
                inner.issues = ko.observableArray([]);
                inner.projectId = priv.config.projectId;
                inner.markdown = ko.observable();
                inner.viewMarkdown = ko.observable(false);

                inner.previewMarkdown = function () {
                    
                    if (inner.viewMarkdown()) {
                        inner.viewMarkdown(false);
                        return;
                    }

                    priv.previewMarkdown(inner.description()).done(function (response) {
                        inner.viewMarkdown(true);
                        inner.markdown(response.Code);
                    });
                };

                inner.saveRelease = function () {
                    priv.saveRelease(ko.toJSON(inner)).done(function(response) {
                        if (response.Success)
                            location.reload();
                    });
                };

                $.each(data.Issues, function () {
                    inner.issues.push(this);
                });

                inner.initFileUpload = function() {
                    priv.config.releaseImages.fileupload({
                        dropZone: priv.config.dropzone,
                        // Only submit the file if it is jpg file
                        add: function (e, data) {
                            var goUpload = true;
                            var uploadFile = data.files[0];
                            // Only allow JPG files
                            if (!(/\.(jpg|png)$/i).test(uploadFile.name)) {
                                alert("Incorrect file format. Please try again.");
                                goUpload = false;
                            }
                            if (goUpload == true) {
                                data.submit();
                            }
                        },
                        type: 'post',
                        // Handles the server side validation on file type
                        done: function (e, data) {
                            var response = JSON.parse(data.result);
                            console.log(response);
                            var icon = response.icon;
                            var logo = response.logo;

                            if (response.statusCode == 200) {
                                var logoUrl = '/Uploads/' + priv.config.projectId.replace('/', '') + '/' + logo;
                                var iconUrl = '/Uploads/' + priv.config.projectId.replace('/', '') + '/' + icon;
                                inner.logoUrl(logoUrl);
                                inner.updateLogo(logoUrl, iconUrl);
                            }
                        },
                        progressall: function (e, data) {
                            // Handle the progress bar
                            var progress = parseInt(data.loaded / data.total * 100, 10);
                            $('#progress .bar').css(
                                'width',
                                progress + '%'
                            );
                        }
                    });
                }();

                inner.initDropZone = function() {
                    $(document).bind('dragover', function (e) {
                        var dropZone = priv.config.dropZone,
                            timeout = window.dropZoneTimeout;

                        console.log(dropZone);
                        if (!timeout) {
                            dropZone.addClass('in');
                        } else {
                            clearTimeout(timeout);
                        }
                        var found = false,
                            node = e.target;
                        do {
                            if (node === dropZone[0]) {
                                found = true;
                                break;
                            }
                            node = node.parentNode;
                        } while (node != null);
                        if (found) {
                            dropZone.addClass('hover');
                        } else {
                            dropZone.removeClass('hover');
                        }
                        window.dropZoneTimeout = setTimeout(function () {
                            window.dropZoneTimeout = null;
                            dropZone.removeClass('in hover');
                        }, 100);
                    });
                }();

                return inner;
            };

            priv.removeLogo = function (data) {
                return $.ajax({
                    method: 'post',
                    url: '/Project/RemoveLogo',
                    data: { projectId: data.projectId }
                });
            };

            priv.option = function (viewModel) {
                var inner = {};

                inner.title = ko.observable();
                inner.votes = ko.observableArray([]);

                inner.removeOption = function () {
                    if (confirm('Are you sure?'))
                        viewModel.options.remove(this);
                };

                return inner;
            };

            priv.poll = function () {
                var inner = {};
                inner.title = ko.observable();
                inner.options = ko.observableArray([]);

                for (var i = 0; i < 2; i++) {
                    inner.options.push(priv.option(inner));
                }

                inner.newOption = function () {
                    inner.options.push(priv.option(inner));
                };

                inner.savePoll = function () {
                    priv.savePoll(inner).done(function (response) {
                        if (response.success)
                            location.reload();
                    });
                };

                return inner;
            };

            priv.savePoll = function (data) {
                return $.ajax({
                    url: '/Project/CreatePoll',
                    method: 'post',
                    contentType: 'application/json',
                    data: ko.toJSON({ projectId: priv.config.projectId, Poll: { Title: data.title, Options: data.options } })
                });
            };

            priv.deletePoll = function (pollId) {
                return $.ajax({
                    url: '/Project/DeletePoll',
                    method: 'post',
                    contentType: 'application/json',
                    data: ko.toJSON({ projectId: priv.config.projectId, pollId: pollId })
                });
            };


            priv.addMember = function (userId, admin, role) {
                return $.ajax({
                    url: '/Project/AddTeamMember',
                    method: 'post',
                    contentType: 'application/json',
                    data: ko.toJSON({ projectId: priv.config.projectId, userId: userId, isAdmin: admin, role: role })
                });
            };

            priv.deleteMember = function (userId) {
                return $.ajax({
                    url: '/Project/DeleteTeamMember',
                    method: 'post',
                    contentType: 'application/json',
                    data: ko.toJSON({ projectId: priv.config.projectId, userId: userId })
                });
            };

            priv.viewModel = function () {
                var inner = {};

                inner.selectedPage = ko.observable(priv.config.startPage);
                inner.changePage = function (a, b, c) {
                    var newPage = $(b.currentTarget).attr('data-page');
                    if (newPage === inner.selectedPage()) return false;
                    history.pushState(newPage, 'test', priv.config.url + '/' + newPage);
                    inner.selectedPage(newPage);
                };

                inner.questionModel = new priv.questionModel(priv.config.data);

                inner.overview = new priv.overview(priv.config.data);
                
                inner.release = ko.observable(new priv.release(priv.config.data));
                inner.showNewRelease = ko.observable(false);
                inner.newRelease = function() {
                    inner.showNewRelease(true);
                    history.pushState('new', 'test', priv.config.url + '/release/new');
                };
                inner.InitHistory = function () {
                    window.addEventListener('popstate', function (event) {
                        inner.selectedPage(event.state);
                    });
                };

                inner.logoUrl = ko.observable(priv.config.imageUrl);
                inner.projectId = priv.config.projectId;
                inner.updateLogo = function (logo, icon) {
                    priv.updateLogo({ projectId: inner.projectId, logo: logo, icon: icon })
                        .done(function (response) {
                            console.log(response);
                        });
                };

                inner.getOptions = function (searchTerm, callback) {
                    $.ajax({
                        dataType: "json",
                        url: "/User/Search",
                        data: {
                            query: searchTerm
                        },
                    }).done(callback);
                };



                inner.initDeleteMethods = function () {
                    $(".poll .delete").on('click', function () {
                        if (!confirm('Are you sure?')) return;
                        var pollId = $(this).attr('data-poll-id');
                        if (pollId)
                            priv.deletePoll(pollId).done(function (response) {
                                if (response.success)
                                    location.reload();
                            });
                    });

                    $(".member .delete").on('click', function () {
                        if (!confirm('Are you sure?')) return;
                        var userId = $(this).attr('data-user-id');
                        console.log(userId);
                        if (userId)
                            priv.deleteMember(userId).done(function (response) {
                                if (response.success)
                                    location.reload();
                            });
                    });
                };

                inner.selectedPoll = ko.observable();

                inner.selectedUser = ko.observable('');
                inner.isPageAdmin = ko.observable(false);

                inner.newPoll = function () {
                    inner.selectedPoll(priv.poll());
                };

                inner.addUser = function () {
                    if (!inner.selectedUser()) return false;

                    priv.addMember(inner.selectedUser().UserId, inner.isPageAdmin(), inner.role().id).done(function (response) {
                        if (response.success)
                            location.reload();
                    });
                };

                inner.removeLogo = function () {
                    if (confirm("Are you sure?"))
                        priv.removeLogo({ projectId: inner.projectId }).done(function (response) {
                            console.log(response);
                        });
                };

                inner.role = ko.observable('');

                inner.roles = ko.observableArray([
                    {
                        role: 'Developer',
                        id: 0
                    },
                    {
                        role: 'Designer',
                        id: 1
                    },
                    {
                        role: 'Administrative',
                        id: 2
                    },
            {
                role: 'Support',
                id: 3
            },
            {
                role: 'Other',
                id: 4
            }
                ]);

                inner.initFileUpload = function () {
                    priv.config.fileUpload.fileupload({
                        // Only submit the file if it is jpg file
                        add: function (e, data) {
                            var goUpload = true;
                            var uploadFile = data.files[0];
                            // Only allow JPG files
                            if (!(/\.(jpg|png)$/i).test(uploadFile.name)) {
                                alert("Incorrect file format. Please try again.");
                                goUpload = false;
                            }
                            if (goUpload == true) {
                                data.submit();
                            }
                        },
                        type: 'post',
                        // Handles the server side validation on file type
                        done: function (e, data) {
                            var response = JSON.parse(data.result);
                            console.log(response);
                            var icon = response.icon;
                            var logo = response.logo;
                                
                            if (response.statusCode == 200) {
                                var logoUrl = '/Uploads/' + priv.config.projectId.replace('/', '') + '/' + logo;
                                var iconUrl = '/Uploads/' + priv.config.projectId.replace('/', '') + '/' + icon;
                                inner.logoUrl(logoUrl);
                                inner.updateLogo(logoUrl, iconUrl);
                            }
                        },
                        progressall: function (e, data) {
                            // Handle the progress bar
                            var progress = parseInt(data.loaded / data.total * 100, 10);
                            $('#progress .bar').css(
                                'width',
                                progress + '%'
                            );
                        }
                    });
                };

                return inner;
            };

            return pub;
        }();


        $(function () {
            ko.applyBindings(new EditModel.Init(editProjectConfig), document.getElementById("edit-project-wrapper"));
        });
    </script>

}
