@using ProjectZ.Web.Helpers
@model ProjectZ.Web.Models.ViewModels.IssueViewModel
@{
    ViewBag.Title = "Issue";
}
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">

        <h2>@Model.Issue.Title</h2>

        <div class="issue-wrapper">
            <div class="panel panel-default comment" style="z-index: 1000">
                <div class="panel-body">
                    <p class="created">@Model.Issue.Posted</p>
                    <p>
                        @Html.Raw(Model.Issue.Description)
                    </p>
                </div>
                <div class="panel-footer">
                    <a href="/user/@Model.Issue.User.DisplayName.GenerateSlug()">
                        <img src="@Model.Issue.User.Image" class="user-image smaller"/>@Model.Issue.User.DisplayName
                    </a>
                </div>
            </div>



            @{
                int i = 1;
            }
            @foreach (var comment in Model.Issue.Comments)
            {
                <a name="@comment.Id"></a>
                <div class="panel panel-default comment" style="z-index: @(1000 - i)">
                    <div class="panel-body">
                        <p class="created">@comment.Posted</p>
                        <p>
                            @Html.Raw(comment.Comment)
                        </p>
                    </div>
                    <div class="panel-footer">
                        <a href="/user/@comment.User.DisplayName.GenerateSlug()">
                            <img src="@comment.User.Image" class="user-image smaller"/>@comment.User.DisplayName
                        </a>
                    </div>
                </div>  
                {
                    i++;
                }
            }

            @if (!Context.User.Identity.IsAuthenticated)
            {
                <div class="bs-callout bs-callout-warning">
                    You must be logged in to comment on a issue! <a href="/User/Login?returnUrl=@(Context.Request.Url)" class="button"><span>Log in</span></a>
                </div>
            }
            else
            {
                <form method="POST" action="/Issue/Comment">
                    <input type="hidden" name="projectId" value="@Model.ProjectId" />
                    <input type="hidden" name="issueId" value="@Model.Issue.Id" />

                    <div class="panel panel-default comment margin margin-top-30">
                        <div class="panel-body">
                            <div class="comment-issue">
                                <textarea class="fill" name="comment" rows="10" placeholder="Comment"></textarea>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <button class="button button-success"><span>Comment</span></button>
                        </div>
                    </div>
                </form>
            }


        </div>

    </div>
</div>