@using System.Web.Script.Serialization
@model ProjectZ.Web.ViewModels.IssueViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbo">
    <img src="/Content/images/dexter.jpg" class="header-image">
</div>

<div class="wrapper">
    <nav class="nav">
        <ul>
            <li><a href="@Url.Action("Details","Project")">Overview</a></li>
            <li><a href="@Url.Action("Index", "Release")">Releases @Html.Raw(Model.NumberOfReleases > 0 ? string.Format("<span class='badge'>{0}</span>", Model.NumberOfReleases) : "")</a></li>
            <li><a href="#">Polls</a></li>
            <li class="active"><a href="@Url.Action("Index", "Issue")">Issues @Html.Raw(Model.Issues.Any() ? string.Format("<span class='badge'>{0}</span>", Model.Issues.Count) : "")</a></li>
        </ul>
    </nav>
    <div class="inner">
        <div class="content">
            <ul class="unstyled" data-bind="foreach: issues">
                <li>
                    <div class="issues">
                        <div class="votes">
                            <h3 class="count" data-bind="text: votes().length"></h3>
                            <p class="vote" data-bind="click: upVote, css: {disabled: !allowedToVote()}">
                                <i class="fa fa-thumbs-o-up"></i>
                            </p>
                        </div>
                        <div class="issue">
                            <h3 class="title"><a href="#" data-bind="text: title, attr: {href: '/issue/details/' + id}"></a></h3>
                            <p class="description" data-bind="text: description"></p>
                            <i class="fa badge" data-bind="css: issueType"></i>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="new-issue" data-bind="css: {open: newIssue}">
                <input type="text" class="fill" placeholder="Issue title" data-bind="value: issueTitle, valueUpdate: 'keyup'" />
                <textarea class="fill" rows="7" draggable="false" placeholder="Issue description" data-bind="value: issueDescription, valueUpdate: 'keyup'"></textarea>
                <select class="fill" data-bind="options: availableIssueTypes, optionsText: 'text', value: selectedIssueType"></select>
                <p class="toolbar">
                    <button class="btn btn-success" data-bind="disable: submitIssueButton, click: submitIssue">Submit new issue</button>
                </p>
            </div>

        </div>
        <div class="sidebar">
            <button class="btn btn-success btn-fill" data-bind="click: toggleNewIssue">New issue</button>
            <div class="menu">
                <ul class="unstyled">
                    <li>
                        <p>All issues</p>
                    </li>
                    <li>
                        <p>Enhancment</p>
                    </li>
                    <li>
                        <p>Bug</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/issues.js"></script>
<script type="text/javascript">
    $(function () {
        var config = {
            data: @Html.Raw(new JavaScriptSerializer().Serialize(Model.Issues)),
            projectId: '@Model.Project.Id',
            userId: '@Model.UserId'
        };

        var issuesModel1 = new issuesModel.init(config);
        ko.applyBindings(issuesModel1);
    });

</script>
}
