@using System.Web.Script.Serialization
@model ProjectZ.Web.ViewModels.IssueViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbo">
    <img src="/Content/images/dexter.jpg" class="header-image">
</div>

<div class="wrapper">
    <nav class="nav">
        <ul>
            <li><a href="@Url.Action("Details","Project")">Overview</a></li>
            <li><a href="@Url.Action("Index", "Releases")">Releases @Html.Raw(Model.NumberOfReleases > 0 ? string.Format("<span class='badge'>{0}</span>", Model.NumberOfReleases) : "")</a></li>
            <li><a href="#">Polls</a></li>
            <li class="active"><a href="@Url.Action("Index", "Issue")">Issues @Html.Raw(Model.Issues.Any() ? string.Format("<span class='badge'>{0}</span>", Model.Issues.Count) : "")</a></li>
        </ul>
    </nav>
    <div class="inner">
        <div class="content">
            <h1>Issues</h1>

            <ul class="unstyled" data-bind="foreach: issues">
                <li>
                    <div class="issues">
                        <div class="votes">
                            <h3 class="count" data-bind="text: votes().length"></h3>
                            <p class="vote" data-bind="click: upVote, css: {disabled: !allowedToVote()}">
                                <i class="fa fa-thumbs-o-up"></i>
                            </p>

                        </div>
                        <div class="issue">
                            <h3 class="title"><a href="#" data-bind="text: title, attr: {href: '/issue/details/' + id}"></a></h3>
                            <p class="description" data-bind="text: description"></p>
                        </div>
                    </div>
                </li>
            </ul>

            <!-- please do not remove this line -->

            <div style="display: none;">
                <a href="http://slipsum.com">lorem ipsum</a>
            </div>

            <!-- end slipsum code -->






            <ul class="timeline">
                <li>
                    <div class="timeline-badge">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Timeline Event</h4>
                            <p>
                                <small class="text-muted"><i class="fa fa-time"></i> 11 hours ago via Twitter</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge success">
                        <i class="fa fa-lightbulb-o"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Timeline Event</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger">
                        <i class="fa fa-bug"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Timeline Event</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                        </div>
                    </div>
                </li>
            </ul>












        </div>
        <div class="sidebar">
            <h1>New issue</h1>
            <div class="box">
                <input type="text" placeholder="Name" />
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/issues.js"></script>
    <script type="text/javascript">
        $(function () {
            var config = {
                data: @Html.Raw(new JavaScriptSerializer().Serialize(Model.Issues)),
                userId: '@Model.UserId'
            };

            var issuesModel1 = new issuesModel.init(config);
            ko.applyBindings(issuesModel1);
        });

    </script>
}
